body {
    padding: 1rem;
    background-image: url('./src/background.jpg');
}

.calcu-Container {
    height: 92vh;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calcu-Wrapper {
    height: fit-content;
    width: 50vh;
    padding: 1rem;
    background-color: #cfcfcf;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}

.output-displayer {
    width: 100%;  
    height: 10vh;
    background-color: black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 5px;
}

.output-displayer p {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    padding-right: 1rem;
}

.display {
    margin-right: 1rem;
}

.switch {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.calcu-buttons {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.calcu-buttons button {
    width: 100%;
    height: 10vh;
    font-weight: 800;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
}

.on {
    border: none;
    border-radius: 2px;
    width: 3rem;
    height: 1.2rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.off, .delete, 
.backspace, .percent, .dot {
    background-color: #868686;
}

.off:hover, .delete:hover, 
.backspace:hover, .percent:hover, .dot:hover {
    transform: scale(0.9);
    background-color: #8686867a;
}

.on, .plus, .divide, 
.multiply, .minus, .equal {
    background-color: #d88e03;
}

.on:hover, .plus:hover, .divide:hover, 
.multiply:hover, .minus:hover, .equal:hover {
    background-color: #d88d038a;
    transform: scale(0.9);
}

.nine:hover, .eight:hover, .seven:hover, .six:hover, 
.five:hover, .four:hover, .three:hover, .two:hover, .one:hover {
    transform: scale(0.9);
}


